*{
    margin: 0%;
    padding: 0%;
} 
.button{
    font-size: 40px;
}
.theme--dark.v-sheet{
    background-color: rgb(185, 226, 247) !important;
}
.footer-main
{
    margin: 0% !important;
    background-color:rgb(141, 204, 247);
}
.btn{
    margin-right: 10px;
}
.text-h6{
    text-align: center;
}
.navbar{
    width: 100%;
}
.auth_btns{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    flex-direction: row !important;
}
.v-application--wrap{
min-height: 10vh;
}
.signup-form{
    margin-top: 30px;
    /* max-width: 50%; */
    /* display: flex;
    align-self: center; */
}
.preview_images{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    margin: 20px 5px 5px 5px;
    border-radius: 5px;
    width: 100px;
    max-width: 100px;
    height: 100px;
    border: 1px solid red;
}
.v-responsive__content{
    max-width: 30% !important;
    max-height: 100px;
}
.v-application {
    margin-top: 10%;
    max-width: 50%;
    min-height: 100vh;
}
.cont{
    display:flex;
     width:50%;
      min-height: 100vh
} .v-window__next{
    right: 0%;
}